
@{
    ViewBag.Title = "TokenRequest";
}

<h2>TokenRequest</h2>
<div class="row">
    <div class="col-lg-4">
        <p class="text-center">
            @Request["token"]

        </p>
    </div>
</div>
